<a href="#">
  <div class="bigCard">

    <div class="bigCard-image">
      <img
        src="https://i.ytimg.com/vi/6XIcDAdK5bM/maxresdefault.jpg"
        alt=""
      >
    </div>

    <div class="bigCard-title">
      <h1>Saiu a nova versão do angular</h1>
    </div>

    <div class="bigCard-description">
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>

  </div>
</a>
