.bigCard{
  margin: 0px 20px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.bigCard-image img{
  height: auto;
  width: 100%;
  min-width: 400px;

}

.bigCard-title h1{
  font-size: 20px;
  margin-top: 15px;
}

.bigCard-description p{
 color: gray;

}

.bigCard-description{
  margin-top: 10px;

}

.bigCard-date{
  margin: 10px 0 0 0;
  color: rgb(82, 82, 82);
}

