.menuTitle{
  color: #fff;
}

.menuTitle h1{

  font-size: 220px;
  display: flex;
  justify-content: center;
  font-weight:  bolder;
  font-family: 'Segoe UI', sans-serif;
}

.menuTitle hr{
  margin: 10px 0px;
}
