.smallCard{
  width: 700px;
  display: flex;
  flex-direction: row;

}

.smallCard h1{
  font-size: 30px;


}

.smallCard-image img{
  width: 200px;
  min-width: 200px;
  margin: 0 20px 0 0;

}

.smallCard-title{
  display: flex;
  flex-direction: column;
}

.smallCard-content{

  margin-bottom: 15px;

}
.smallCard-separator hr{

  margin: 10px 0 0 0;

}

.smallCard-date{
  color: rgb(82, 82, 82);
}
