<div class="content" [ngStyle]="{'background-image': photoBg }">
  <div class="container">
    <div class="contentTitleCont">

      <h1>{{ contentTitle }}</h1>

      <div class="shortInfo">
        {{ shortInfo }}
      </div>

      <div class="linha">
        <hr>
      </div>

      <div class="autorCont">
        <div class="autor">
          <img src="{{ autorPhoto }}" alt="">
          <div class="autorName">
            Por {{ autor }}
          </div>
          <div class="dataPost">
            {{ date }}
          </div>
        </div>
        <div class="contact">
          <ul>
            <li><a href="https://github.com/Thiagoreis9"><img src="../../../assets/whatsapp.png" alt=""></a></li>
            <li><a href="https://www.linkedin.com/in/thiagoreis9/"><img src="../../../assets/linkedin.png" alt=""></a></li>
            <li><a href=""><img src="../../../assets/gmail.png" alt=""></a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="contentCover">
      <img src="{{ photoCover }}" alt="">
    </div>
  </div>

</div>

<app-section-cards></app-section-cards>
