<div class="pokeADD">


  <div class="pokeContainer">
    <div class="pokeTitle">
      <h1>Bootcamp Warburg Pincus Cloud Fullstack: Projeto Pokedex</h1>
    </div>

    <div class="pokeDescription">Entenda a importância do Git/GitHub nos Desafios do Projeto DIO, além de explorar o mundo Pokémon consumindo uma API REST para criar um Pokédex incrível! Para isso, você explorará, além do JavaScript, todos os fundamentos do desenvolvimento web aprendidos até aqui.</div>


    <div class="pokeButton">
      <a href="https://thiagopokedex.netlify.app/index.html">
        <button>Conhecer a Pokedex</button>
      </a>
    </div>
  </div>

</div>
