<div class="pokeADD">


  <div class="pokeContainer">
    <div class="pokeTitle">
      <h1>Pokedex project by Bootcamp Warburg Pincus Cloud Fullstack</h1>
    </div>

    <div class="pokeDescription">Understand the importance of Git/GitHub in DIO's Project Challenges, as well as exploring the Pokémon world by consuming a REST API to create an amazing Pokédex! For this, you will explore, in addition to JavaScript, all the basics of web development learned so far.</div>


    <div class="pokeButton">
      <a href="https://thiagopokedex.netlify.app/index.html">
        <button>Conhecer a Pokedex</button>
      </a>
    </div>
  </div>

</div>
