<div class="menuBar">

  <div class="menuBarLeft">
    <div class="user">
      {{ user }}
    </div>
    <div class="options">
      <ul>
        <li><a [routerLink]="['']">INICIO</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">BOOKMARKS</a></li>
        <li><a href="#">UI KIT</a></li>
        <li><a href="#">UTILITIES</a></li>
      </ul>
    </div>
  </div>

  <div class="icons">
    <ul>
      <li><a href="https://www.linkedin.com/in/thiagoreis9/"><img src="../../../assets/linkedin.png" alt=""></a></li>
      <li><a href="https://github.com/Thiagoreis9"><img src="../../../assets/github.png" alt=""></a></li>
      <li><a href=""><img src="../../../assets/instagram.png" alt=""></a></li>
    </ul>
  </div>


</div>
<br>
<hr>
