<div class="menuBar">

  <div class="menuBarLeft">
    <div class="user">
      {{ user }}
    </div>
    <div class="options">
      <ul>
        <li><a [routerLink]="['']">INICIO</a></li>
        <li><a href="https://thiagopokedex.netlify.app/index.html" target="_blank">POKÉDEX</a></li>
        <li><a href="https://github.com/Thiagoreis9/Project-RyuNews" target="_blank">RYUNEWS REPOSITORY</a></li>
      </ul>
    </div>
    <a href="#" class="responsiveMenu">
      <img src="../../../assets/menu.png" alt="menuButton">
    </a>
  </div>

  <div class="icons">
    <ul>
      <li><a href="https://www.linkedin.com/in/thiagoreis9/" target="_blank"><img src="../../../assets/linkedin.png" alt="LinkedIn"></a></li>
      <li><a href="https://github.com/Thiagoreis9" target="_blank"><img src="../../../assets/github.png" alt="Github"></a></li>
      <li><a href="https://www.instagram.com/thiago.ryuzaki/" target="_blank"><img src="../../../assets/instagram.png" alt="Instagram"></a></li>
    </ul>
  </div>


</div>
<br>
<hr>
